h1 {
    color:brown;
}
h2 {
    margin: 30px;
}
#loud{
    border: solid lightgreen 2px;
    background-image: url(imgs/loud.jpg);
    
}
#loud h2{
   color: greenyellow;
    text-align: center;  
}
#keyd{
    border: solid purple 2px;
    background-image: url(imgs/vivo-keyd-stars-cblol-2024-9-rodada.jpg);
}
.paragrafo{
    color: azure;
}
.times{
    padding: 30px;
    margin: 50px;
    width: 500px;
}